<!-- This is a master launch file that launches all the requisite launch files in as necessary -->
<!-- Ask Chetan if you have more questions -->



<launch>
    <arg name="robot_ar_frame_relative_to_camera" default="ar_marker_0"/>
    <arg name="path_topic" default="/pathgoals"/>

    <!-- Node that publishes static transforms so that TF tree links the AR tag, LiDAR scanner, and Turtlebot together -->
    <node name="broadcaster_fixed"
        pkg="automatic_navigation"
        type="static_transforms_broadcaster.py">
        <param name="frames/robot_ar_frame" value="$(arg robot_ar_frame_relative_to_camera)" />
    </node>

    <!-- launches realsense camera node -->
    <include file="$(find lab4_cam)/launch/our_realsense_camera_launch.launch" />

    <!-- launches AR tracking node -->
    <include file="$(find lab4_cam)/launch/ar_track.launch" />

    <!-- launches occupancy grid related items and static tf transforms needed for tf tree -->
    <include file="$(find automatic_navigation)/launch/demo.launch" />

    
    
</launch>


